
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Project</title>
   {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <a href="/">Portfolio</a>
    <a href="/product_list/">Products</a>
    <a href="/student/">Student Dashboard</a>
    <a href="/calculator/">Calculator</a>
  </nav>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
